body{
	background-color: grey;
	margin: 0;
	font-family: roboto;
	font-size: 18px;
	text-align: center;
	

}

header{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #676574;
}

header img{
	border-radius: 100px;
	
}

main img{


}

img{
	
}



h1{
	font-family: roboto;
	font-size: 60px;
}

h2{
	text-align: center;
	font-size: 35px;
}

li{



}

div{
	padding-left: 750px;
	text-align: left;

}

ul{
	list-style-position: inside;
}

ol{
	list-style-position: inside;
}

a:hover{
	color: white;
	font-size: 40px;
}

footer{
	background-color: #676574;
	padding-top: 25px;
	padding-bottom: 25px;
}

.caption{
	font-style: italic;
	margin-top: 0;
	margin-bottom: 50px;
}